<div class="cols">
    <div class="col-1">
        <p>BEM VINDO!</p>
        <div class="inputs">
            <h2>Usuario</h2>
            <input type="text" placeholder="XXXXXXXXXXXXXXXXXX">
            <div class="linha"></div>
            <h2>Senha</h2>
            <input type="text" placeholder="••••••••••••••">
            <div class="linha"></div>
        </div>
        <button class="enviar" (click)="fazerLogin()">ENVIAR</button>
    </div>
    <div class="col-2">
        <img src="/login.jpg" alt="">
    </div>
</div>