.container{
    display: flex;
    justify-content: center;
    height: 100vh;  
}
.container img{
    width: 30vh;
}
.cards{
    display: flex;
    align-items: center; 
    margin: 2%; 
    flex-direction: column;
    
}

.cards p{
    padding-top: 2px;
    font-family: 'Poppins';
}
