<div class="container">
    <h2>Sua biblioteca</h2>
    <div class="cards-container">
        <div class="cards">
            <img src="/uma vida pequena livro.jpg" alt="">
            <p>Uma vida pequena</p>
            <p>Editora Record</p>
            <p class="price">R$76,12</p>
        </div>
        <div class="cards">
            <img src="/tres.jpg" alt="">
            <p>Três</p>
            <p>Editora Intrínseca</p>
            <p class="price">R$48,81</p>
        </div>
        <div class="cards">
            <img src="/jogos vorazes.jpg" alt="">
            <p>Jogos Vorazes</p>
            <p>Editora Rocco</p>
            <p class="price">R$40,25</p>
        </div>
    </div>
</div>
